.wrapper {
    margin: auto;
    padding: 3.125rem 0;
    background-image: url(../img/tusa.jpg);
    max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.header {
    margin-bottom: 4.8rem;
}

.header, .list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.ones{
  display: flex;
          position: absolute; 
          top: 30%;
              left: 80%;
              transform: translate(-50%, -50%); 
}

.twos{
  display: flex;
          position: absolute; 
          top: 10%;
              left: 80%;
              transform: translate(-50%, -50%); 
}
.name {
    display: flex;
            position: absolute; 
            top: 10%;
                left: 30%;
                margin-right: -50%;
                transform: translate(-50%, -50%); 
        flex-grow: 2;
        font-size: 2rem;
        align-items: center;
        color: #ffffff;
        font-family: 'Chewy';
    font-style: normal;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.name::after {
    opacity: 0;
    display: block;
    position: absolute;
    content: '';
    width: 11rem;
    height: 0.1875rem;
    background-color: #ffffff;
    margin: 0.325rem auto 0;

}

    .list {
        flex-grow: 1;
        align-self: center;
        font-size: 0.875rem;
        font-weight: 700;
        padding: 0.625rem 0;
        color: #95e1d3;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        border-bottom: 0.1875rem solid transparent;
        cursor: pointer;
    }

    .header, .list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    ul {
        list-style: none;
    }

 
   
    .site-navigation {
        margin: auto;
        font-family: Roboto, sans-serif;
        
      }
      
      .site-navigation li {
        float: left;
      }
      .site-navigation a {
        display: inline-block;
        padding: 0 10px;
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        border: solid rgb(255, 255, 255);
          border-radius: 25px;

      }
      .site-navigation a:hover {
          color: white;
          border: solid rgb(45, 248, 147);
          border-radius: 25px;

      }
  

      .clearfix {
        display: table;
        content: "";
        clear: both;
        float: right;
        padding: -20px 3px 30px 5px;
      }
      
      h1{
        display: flex;
        top: 50%;
        left: 50%;
          text-align: center;
          color: rgb(255, 255, 255);
          font-family: 'Courier New', Courier, monospace;
          font-size: 40%;
              }
    
              h4{
                  text-align: center;
                  color: rgb(255, 255, 255);
                  font-family: 'Julee';
              }

              .butt{
                display: flex;
            position: absolute; 
                left: 33%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                min-width: 320px; 
                
              }
        
              
              input[type="submit"] {
                display: block;
                height: 30px;
                width: 200px;
                margin: 10px auto;
                padding: 0;
                background-color: rgb(231, 114, 114);
                box-shadow: var(--black-alfa2);
                color: #eee;
                border-radius: 25px;
                border: 2px solid rgb(231, 114, 114);
                font-weight: bold;
              }
        
              input[type="submit"]:hover {
                box-shadow: var(--black-alfa1);
                background-color: rgb(241, 170, 160);
                cursor: pointer; 
              }
              
              bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
              }
        
              @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                  font-size: 3.5rem;
                }
