.other{
    display: flex;
position: absolute; 
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
  }

  
  input[type="button"] {
    display:  inline-block;
    height: 30px;
    width: 200px;
    margin: 10px auto;
    padding: 0 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--black-alfa2);
    color: rgb(238, 99, 99);
    border-radius: 30px;
    border: 2px solid #e34761;
    font-size: 100%;
    font-weight: bold;
  }

  input[type="button"]:hover {
    box-shadow: var(--black-alfa1);
    background-color: rgb(141, 27, 12);
    cursor: pointer; 
  }
  