* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }

  .site-navigation li:nth-child(1) a{
    color: rgb(197, 64, 98);
    font-weight: 100%;
}
  
  ul.MART{
    display: inline-block;
    margin-right: 10%;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 5%;
  }
  .container {
    max-width: 480px;
    margin: none;
    padding: 10px;
  }
  .MART::first-letter {
    font-family: 'Shrikhand';
    color: #d62161;
    font-size: 30px;
  }
 .masthead {
    max-width: 960px;
    margin: auto;
    height: 100px;
    
  }

  .site-navigation {
    margin: auto;
    font-family: Roboto, sans-serif;
    
  }
  
  .site-navigation li {
    float: left;
  }
  .site-navigation a {
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
    color: #212121;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navigation a:hover {
    color: #69c0e2;
  }
  .site-navigation a:focus {
    color: #7940ff;
  }
  .clearfix {
    display: table;
    content: "";
    clear: both;
    float: right;
    padding: -20px 3px 30px 5px;
  }

  .parent {
      position: relative;
height: 422px;
width: 997px;
margin: auto;
background-color: rgb(255, 255, 255);
color: rgb(207, 172, 32);
z-index: 10;
  }

  .child {
      margin: auto;
position: absolute;
top: 85px;
left: 100px;
right: 500px;
height: 442px;
width: 997px;
opacity: 0.9; /* Значение прозрачности */
  filter: alpha(Opacity=70);
  }

.name{
text-align: center;
margin: auto;
display: inline-block;
    padding: 0 -40px;
    font-size: 37px;
    color: #dfc13e;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.pp{
    display: inline-block;
    margin: auto;
text-align: center;
padding: 0 -70px;
font-size: 32px;
color: #dfc13e;
font-weight: 500;
text-decoration: none;
text-transform: uppercase;
}

.arrow-6 {
    margin:20px;
}
.arrow-6 svg {
    width: 100px;
    height: auto;
    margin: 0 3rem;
    cursor: pointer;
    overflow: visible;
}
.arrow-6 svg polygon, 
.arrow-6 svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #cf8670;
}
.arrow-6 svg:hover polygon, 
.arrow-6 svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: rgb(231, 53, 53);
}
.arrow-6 svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
 
@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


h1{
    padding: 15px 10px;
    color: rgb(90, 87, 87);
    text-align: center;
    
  }

  h2{
      padding: none;
      margin-bottom: 50px;
    color: rgb(233, 150, 103);
    text-align: center;
    font-size: 32px;
    }

    .shop {
        display: inline-block;
    }
    
    span.boom{
        display: inline-block;
        font-size: 20px;
        color: #fff2f2;
        margin: 0%;
        padding: 1%;
        background-color: rgb(104, 104, 104);

        