.section_2{
    width: 960px; margin:0 auto;
    margin-bottom: 4.8rem;
    text-align: center;
}

.card{
    position: relative;
}

.details{
    font-size: 0.9375rem;
    font-family: 'Roboto', sans-serif;
    color: #999999;
    transition: 1s;
    cursor: pointer;
    margin-bottom: 2.8rem;
}

.secondary-frame{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 30%;
}

.secondary-item {
    flex-basis: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.picturas{
    display: block;
    width: 100%;
}


.hero-name {
    font-size: 0.875rem;
    max-height: 5.1875rem;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.opus{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: #999999;
    margin-bottom: 1rem;
}

.overlay {
    position: absolute;
    background-image: linear-gradient(to top, rgba(233, 153, 153, 0.9), rgba(77, 230, 210, 0.9));
    display: flex;
    width: 300px;
    top: 930px;
    left: auto;
    height: 353px;
    opacity: 0;
    align-items: center;
}

.bodys:hover .picture{
    transition-timing-function: linear;
    transform:translate(-5%, -5%);
    transition: 1s;
    box-shadow: 12px 12px 2px 1px rgba(20, 151, 74, 0.2);
}
    
.bodys:hover .overlay{
    transition-timing-function: linear;
    transition: 1s;
    transform:translate(-5%, -5%);
    opacity: 1;
}

.item-wrapper {
    transition-timing-function: linear;
transition: 1s;
display: block;
    flex-basis: 18%;
    padding: 7%;
    cursor: pointer;
}

.icon-item {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.item-wrapper:hover {
    background-color: rgb(245, 160, 245);
}

.face{
    background-image: url(../img/face.gif);
}

.twit{
    background-image: url(../img/twit.gif);
}

.pint{
    background-image: url(../img/pint.gif);
}

.insta{
    background-image: url(../img/insta.gif);
}

.oneth {
    position:absolute;
    top:0px;
    right:0px
}

.twoth {
    position:absolute;
    top:0px;
    left:0px;
}

.treeth {
    position:absolute;
    top: 320px;
    right:0px
}

.fourth {
    position:absolute;
    top:320px;
    left:0px;
}




